{% extends 'base.html' %}

{% block headtitle %}
    {% include 'partials/_headTitle.html' %}
{% endblock headtitle %}

{% block service %}
    {% include 'partials/_service.html' %}
{% endblock service %}

{% block about %}
    {% include 'partials/_about.html' %}
{% endblock about %}


{% block menu %}
    {% include 'partials/_menu.html' %}
{% endblock menu %}


{% block comment %}
    {% include 'partials/_comment.html' %}
{% endblock comment %}



{% block team %}
    {% include 'partials/_chefs.html' %}
{% endblock team %}